body {
    padding: 50px;
    font-family: helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    font-family: helvetica, sans-serif;
    font-size: 2em;
    color: green;
}

p {
    padding 10px;
}

red{
    color:red;
}